/* style.css */

/* 1. VARIÁVEIS DE CORES (Suporte para Modo Claro e Escuro) */
:root {
    --bg-principal: #f4f7f4;
    --bg-card: #ffffff;
    --texto-principal: #2c3e50;
    --texto-secundario: #556b2f;
    --cor-primaria: #27ae60; /* Verde Agrinho */
    --cor-jogo: #2980b9;
